<%= form_for(@skilzuser) do |f| %>
  <% if @skilzuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skilzuser.errors.count, "error") %> prohibited this skilzuser from being saved:</h2>

      <ul>
      <% @skilzuser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :coreid %><br />
    <%= f.text_field :coreid %>
  </div>
  <div class="field">
    <%= f.label :accountType %><br />
    <%= f.number_field :accountType %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
