<h1>Listing skilzusers</h1>

<table>
  <tr>
    <th>Coreid</th>
    <th>Accounttype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @skilzusers.each do |skilzuser| %>
  <tr>
    <td><%= skilzuser.coreid %></td>
    <td><%= skilzuser.accountType %></td>
    <td><%= link_to 'Show', skilzuser %></td>
    <td><%= link_to 'Edit', edit_skilzuser_path(skilzuser) %></td>
    <td><%= link_to 'Destroy', skilzuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Skilzuser', new_skilzuser_path %>
