<p id="notice"><%= notice %></p>

<p>
  <b>Coreid:</b>
  <%= @skilzuser.coreid %>
</p>

<p>
  <b>Accounttype:</b>
  <%= @skilzuser.accountType %>
</p>


<%= link_to 'Edit', edit_skilzuser_path(@skilzuser) %> |
<%= link_to 'Back', skilzusers_path %>
